@import "tailwindcss";



[data-nextjs-toast] {
  all: unset !important;
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}


@theme {
  --color-myteal: #1B3C53;
  --color-mycyan: #234C6A;
  --color-myslate: #456882;
  --color-mystone: #D2C1B6 ;
  --color-mystone2: #bda896;  
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
