name: CI

on:
  pull_request:
    branches: [master]
  push:
    branches:
      - "**"

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4

    # ---------- BACKEND ----------
    - name: Build Backend
      working-directory: server
      run: |
        npm ci
        npm run build

    # ---------- FRONTEND ----------
    - name: Build Frontend
      working-directory: client
      env:
        NEXT_PUBLIC_API_URL: ${{ vars.PUBLIC_API_URL }}
      run: |
        npm ci
        npm run build